*{
    margin: 0px;
}
.navbar{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: left;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.logobox{
    padding-left: 1vh;
    padding-top: 1vh;
}

.logo{
    width: auto;
    height: 8vh;
}

.content {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    padding: 2vh;
    width: auto;
    height: 30vh;
    background-color: blue;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 210, 0.55) 0px 5px 15px;
}

button {
    height: inherit;
    width: 30vh;
    background-color: white;
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 15%;
    justify-content: center;
}

.num{
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    font-weight: 700;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    border: 0;
}
